* {
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-color: darkcyan;
    color: beige;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
}

h1 {
    font-size: 6em;
    text-align: center;
}

h2 {
    font-size: 2em;
    text-align: center;
}

.info {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 5em;
    width: 70%;
}

.hours {
    display: flex;
    flex-direction: column;
}

.hours h3,
.address h3 {
    font-size: 1.2em;
    margin: 1.1em 0;
}

.img {
    margin-top: 5em;
}

img {
    width: 100%;
    vertical-align: middle;
}