* {
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    --clr-light: #FFF4E3;
    --clr-dark: #3C291C;
    --clr-light-2: #FFF4E2;
    --clr-dark-2: #3C291B;
    --clr-secondary: #C49279;
    --clr-accent: #BED4F9;
    --hover-accent: #80A4E1;
    --font-title: "Bebas Neue", serif;
    --font-body: "Raleway", serif;
    --buttons-corner: 50px;
}

img {
    width: 100%;
    vertical-align: middle;
}

h1,
h2,
h3 {
    font-family: var(--font-title);
}

h4,
p {
    font-family: var(--font-body);
}

body {
    background-color: var(--clr-light);
}

section {
    margin: 0 auto;
}

#reservation-form {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  #reservation-form .form-label {
    font-weight: bold;
  }
  
  #reservation-form button {
    background-color: #ff5722;
    border: none;
    font-size: 18px;
  }
  